---
import type { CollectionEntry } from 'astro:content';
import type { Student } from '@/content/config';
import { Icon } from 'astro-icon';
import { getProjectsByPerson } from '@/helpers/projects';
import {
  getPersonTags,
  isFinishedSomeCourse,
  isProfessor,
  isStudent,
} from '@/helpers/people';
import {
  getCourseAbbreviationByOccupation,
  getCourseAbbreviationCampusByOccupation,
} from '@/helpers/courses';
import Badge from './Badge.astro';

export interface Props {
  person: CollectionEntry<'people'>;
}

let icons = [
  {
    name: 'projects',
    icon: 'ph:code',
  },
  {
    name: 'linkedin',
    icon: 'ph:linkedin-logo',
  },
  {
    name: 'github',
    icon: 'icon-park:github-one',
  },
  {
    name: 'figma',
    icon: 'ph:figma-logo',
  },
  {
    name: 'instagram',
    icon: 'ph:instagram-logo',
  },
  {
    name: 'homepage',
    icon: 'ph:address-book',
  },
];

const { person } = Astro.props;

const {
  data: { id, name, addresses, avatar, occupations },
} = person;

const codeUrl = `/projects/people/${id}/`;

const projects = await getProjectsByPerson(person);

const hasProjects = projects.length > 0;

if (hasProjects) {
  addresses.projects = codeUrl;
}

let links = icons
  .filter((link) => addresses[link.name])
  .map((link) => ({
    ...link,
    url: addresses[link.name],
  }));

const tags = await getPersonTags(person);
---

<div
  class="person-card rounded-md overflow-hidden shadow-lg bg-white text-center w-full relative"
  data-tags={tags.join('-')}
>
  <figure class="mx-auto overflow-hidden">
    <a href={addresses.linkedin} target="_blank">
      <img
        src={avatar}
        alt={name.full}
        class="animate-pulse bg-gray-300 object-cover w-full h-[233px] hover:scale-105 transition duration-500 cursor-pointer"
        onload="this.onload=null;this.classList.remove('animate-pulse');"
        onerror="this.onerror=null;this.classList.remove('animate-pulse', 'bg-neutral-400');this.src='/projects/imgs/avatar.svg';"
      />
    </a>
  </figure>
  <div>
    <div class="px-6 py-2">
      <div class="font-bold text-xl" data-pagefind-ignore>
        {name.compact}
      </div>
    </div>
    <div class="flex justify-center pb-2">
      {
        links.map((link) => (
          <a
            href={link.url}
            target="_blank"
            class="hover:scale-110 transition duration-500"
          >
            <Icon
              name={link.icon}
              size={32}
              class={`${link.name}-person-link`}
            />
          </a>
        ))
      }
    </div>
    <div class="tags pb-4 px-2 space-x-1">
      {
        isStudent(person) &&
          occupations
            .filter((occupation: Student) => occupation.course)
            .map((occupation) => (
              <Badge
                url={`/projects/people/${getCourseAbbreviationByOccupation(occupation)}/1`}
                text={getCourseAbbreviationCampusByOccupation(occupation)}
              />
            ))
      }
      {
        isFinishedSomeCourse(person) && (
          <Badge url="/projects/people/egresso/1" text="egresso" />
        )
      }
      {
        isProfessor(person) && (
          <Badge url="/projects/people/professor/1" text="professor" />
        )
      }
    </div>
    <!-- <div>
      {
        tags.map((tag) => (
          <Badge url={`/projects/people/${tag}/1`} text={tag} />
        ))
      }
    </div> -->
  </div>
</div>
