---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon';
import { getProjectId, getProjectTags } from '@/helpers/projects';
import Badge from './Badge.astro';

type ProjectsWithPeople = CollectionEntry<'projects'> & {
  people: CollectionEntry<'people'>[];
};

export interface Props {
  project: ProjectsWithPeople;
}

const { project } = Astro.props;

const {
  data: { addresses, name },
} = project;

const tags: string[] = getProjectTags(project);

const projectId = getProjectId(project);
---

<div
  class="project-card rounded-md overflow-hidden shadow-lg bg-white text-center"
>
  <section class="relative z-0">
    <figure class="overflow-hidden shadow-md">
      <a href={addresses.homepage || addresses.repository} target="_blank">
        <img
          src={addresses.preview ?? '/projects/imgs/project-placeholder.png'}
          class="animate-pulse bg-gray-300 object-cover w-full h-[200px] md:h-[150px] hover:scale-105 transition duration-500"
          alt={name}
          onload="this.onload = null; this.classList.remove('animate-pulse');"
          onerror="this.onerror=null;this.classList.remove('animate-pulse', 'bg-neutral-400');this.src='/projects/imgs/project-placeholder.png';"
        />
      </a>
    </figure>
    <div class="absolute top-2 right-2">
      <ul class="flex">
        {
          addresses.template && (
            <li class="-mr-2 bg-black border-2 border-gray-100 rounded-full overflow-hidden">
              <a href={addresses.template} target="_blank" class="font-bold">
                <Icon name="logos:figma" size={32} class="figma-project-link" />
              </a>
            </li>
          )
        }
        <li
          class="-mr-2 bg-black border-2 border-gray-100 rounded-full overflow-hidden"
        >
          <a href={addresses.repository} target="_blank" class="font-bold">
            <Icon name="uim:github" size={32} class="github-project-link" />
          </a>
        </li>
      </ul>
    </div>
    <ul class="absolute bottom-2 right-4 flex">
      {
        !!project.people?.length &&
          project.people?.map(({ data: { id, avatar, name } }) => (
            <li class="-mr-2 border-2 border-gray-100 rounded-full">
              <a href={`/projects/people/${id}/`} target="_blank">
                <img
                  src={`${avatar}?size=32`}
                  alt={name.full}
                  title={name.full}
                  class="rounded-full w-8"
                />
              </a>
            </li>
          ))
      }
    </ul>
  </section>
  <p class="my-3">
    <a
      href={`/projects/codes/${projectId}`}
      target="_blank"
      class="font-bold underline"
    >
      {name}
    </a>
  </p>
  <nav class="m-3 px-2 space-x-1">
    {tags.map((tag) => <Badge url={`/projects/codes/${tag}/1/`} text={tag} />)}
  </nav>
</div>
