---
import { Icon } from 'astro-icon';
import { getProjectsByStudent } from '../helpers/projects';
import { getStudentTags } from '../helpers/students';

const { student } = Astro.props;

const codeUrl = `/projects/students/${student.data.id}/`;

let icons = [
  {
    name: 'code',
    icon: 'ph:code',
  },
  {
    name: 'linkedin',
    icon: 'ph:linkedin-logo',
  },
  {
    name: 'github',
    icon: 'icon-park:github-one',
  },
  {
    name: 'twitter',
    icon: 'ph:twitter-logo',
  },
  {
    name: 'instagram',
    icon: 'ph:instagram-logo',
  },
];

const projects = await getProjectsByStudent(student);

const hasProjects = projects.length > 0;

if (hasProjects) {
  student.data.addresses.code = codeUrl;
}

let links = icons
  .filter((link) => student.data.addresses[link.name])
  .map((link) => ({
    ...link,
    url: student.data.addresses[link.name],
  }));

const tags = await getStudentTags(student);
---

<style is:global>
  [astro-icon='icon-park:github-one'].github-link path {
    stroke-width: 3;
  }
</style>

<div
  class="rounded-md overflow-hidden shadow-lg bg-white text-center md:w-[233px]"
  data-tags={tags.join('-')}
>
  <figure class="w-[233px] h-[233px] mx-auto overflow-hidden">
    <a href={student.data.addresses.linkedin} target="_blank">
      <img
        src={student.data.avatar}
        alt={student.data.name.full}
        class="animate-pulse bg-gray-300 object-cover w-[233px] h-[233px] hover:scale-105 transition duration-500 cursor-pointer"
        onload="this.onload=null;this.classList.remove('animate-pulse');"
        onerror="this.onerror=null;this.classList.remove('animate-pulse', 'bg-neutral-400');this.src='/projects/imgs/avatar.svg';"
      />
    </a>
  </figure>
  <div>
    <div class="px-6 py-2">
      <div class="font-bold text-xl">{student.data.name.compact}</div>
    </div>
    <div class="flex justify-center pb-2">
      {
        links.map((link) => (
          <a
            href={link.url}
            target="_blank"
            class="hover:scale-110 transition duration-500"
          >
            <Icon name={link.icon} size={32} class={`${link.name}-link`} />
          </a>
        ))
      }
    </div>
  </div>
</div>
