---
import { Icon } from 'astro-icon';

const { student } = Astro.props;

const codeUrl = `/projects/students/${student.data.id}/`;

let icons = [
  {
    name: 'code',
    icon: 'ph:code',
  },
  {
    name: 'linkedin',
    icon: 'ph:linkedin-logo',
  },
  {
    name: 'github',
    icon: 'icon-park:github-one',
  },
  {
    name: 'twitter',
    icon: 'ph:twitter-logo',
  },
  {
    name: 'instagram',
    icon: 'ph:instagram-logo',
  },
];

let links = icons
  .filter((link) => student.data[link.name] || link.name === 'code')
  .map((link) => ({
    ...link,
    url: link.name === 'code' ? codeUrl : student.data[link.name],
  }));
---

<style is:global>
  [astro-icon='icon-park:github-one'].github-link path {
    stroke-width: 3;
  }
</style>

<div
  class="rounded-md overflow-hidden shadow-lg bg-white text-center md:w-[233px]"
>
  <figure>
    <img
      src={student.data.avatar}
      alt={student.data.name}
      class="animate-pulse bg-neutral-400 object-cover w-[233px] h-[233px] mx-auto max-sm:mt-2"
      onload="this.onload=null;this.classList.remove('animate-pulse');"
      onerror="this.onerror=null;this.classList.remove('animate-pulse', 'bg-neutral-400');this.src='/projects/imgs/avatar.svg';"
    />
  </figure>
  <div>
    <div class="px-6 py-2">
      <div class="font-bold text-xl">{student.data.compactName}</div>
    </div>
    <div class="flex justify-center pb-2">
      {
        links.map((link) => (
          <a
            href={link.url}
            target="_blank"
            class="hover:scale-110 transition duration-500"
          >
            <Icon name={link.icon} size={32} class={`${link.name}-link`} />
          </a>
        ))
      }
    </div>
  </div>
</div>
