---
import Filter from '@/components/Filter';
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';
import NavBar from '@/components/NavBar.astro';
import PageFindSearch from '@/components/PageFindSearch.astro';
import { GOOGLE_ANALYTICS_ID } from '@/consts';
import { getAllPersonTags } from '@/helpers/people';

import '@/styles/global.css';

export interface Propos {
  pageTitle: string;
  tags: string[];
  type: string;
}

const allTags = await getAllPersonTags();

const { pageTitle, tags, type } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link href="/projects/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/projects/pagefind/pagefind-ui.js" type="text/javascript"
    ></script>
  </head>
  <body class="bg-gray-100 relative">
    <NavBar />

    <div class="container lg:max-w-screen-lg mx-auto px-4 py-16">
      <Filter type={type} tags={tags} allTags={allTags} client:visible />

      <h1 class="text-center pb-16 text-4xl font-bold">{pageTitle}</h1>

      <PageFindSearch />

      <slot />
    </div>

    <GoogleAnalytics />
  </body>
</html>
